{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="contact_us">
    <h2>ارتباط با ما </h2>

    <ul>
        <li>مشهد ، بلوار جلال‌آل‌احمد ، جلال‌آل‌احمد ۶۴ ، دانشگاه سجاد</li>
        <li>تلفن: ۳۶۰۲۹۰۰۰-۰۵۱</li>
        <li>فکس: <span>۳۶۰۲۹۱۱۰-۰۵۱</span></li>
        <li>كدپستی: <span>۹۱۸۸۱۴۸۸۴۸</span></li>
        <li>پست الکترونیک: <span>info@sadjad.ac.ir</span></li>
    </ul>

    <div>
    <iframe allowfullscreen="" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d803.4513296191856!2d59.528857029172144!3d36.34126787901516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f6c8d9aa6b50a13%3A0x6836c5b78e2d1d43!2sSajjad+University+of+Technology!5e0!3m2!1sen!2sir!4v1508067152468" style="border:0" width="600">
    </iframe>  
    </div>


</div>
{%endblock%}